h3{
  font-size: 18px;
}
h4{
  font-size: 16px:
}
li{
  font-size: 12px;
}
container{
  text-align: left;
}
#profesionalexp{
  margin-left: 100px;
  text-align: left
}
#education{
  margin-left: 100px;
  text-align: left;
}
