h3{
  font-size: 18px;
}
h4{
  font-size: 16px:
}
li{
  font-size: 12px;
}
container{
  text-align: left;
  margin-top: 20px;
  margin-left: 20px;
  margin-bottom: 20px;
}
#professionalexp{
  margin-left: 80px;
  text-align: left
}
#education{
  margin-left: 80px;
  text-align: left;
}
#uofp{
  margin-left: 100px;
}
#uofm{
  margin-left: 100px;
}
#ctcc{
  margin-left: 100px;
}
#pstc{
  margin-left: 100px;
}
#ltgb{
  margin-left: 100px;
}
