h1 {
  font-size: 16px;
  margin-bottom: -12px;
  margin-top: 12px;
}
h2 {
  font-size: 18px;
  margin-bottom: -14px;
}
h3 {
  font-size: 24px;
  margin-bottom: -12px;
}
h4 {
  font-size: 18px;
  margin-bottom: -12px;
  margin-top: 30px;
  border-style: solid;
  border-top-style: hidden;
  border-left-style: hidden;
  border-right-style: hidden;
  border-width: 3px;
}
li {
  font-size: 14px;
  margin-top: 5px;
}
p {
 margin-bottom: -12px; 
}
#container {
  text-align: left;
  margin: 25px 100px;  
  padding: 25px;
  background-color: #c0c0c0;
}
#professionalexp {
  margin-left: 75px;
  text-align: left;
  margin-top: 20px;
}
#education {
  margin-left: 75px;
  text-align: left;
  margin-top: 20px;
}
#uofp {
  margin-left: 30px;
}
#uofm {
  margin-left: 30px;
}
#ctcc {
  margin-left: 30px;
}
#pstc {
  margin-left: 30px;
}
#ltgb {
  margin-left: 30px;
}
#addskills {
  margin-left: 45px;
  text-align: left;
  margin-top: 20px;
}
  
